$header-name-color: white;
$header-color: #d68000;
$text-color: #FFFFFF;
$logo-font: 'Bungee', sans-serif;
$desktop-background-color: #4056A1;
$error-color: #db6d65;
$shadow-color: grey;
$icon-color: darkblue;
$nav-arrow-color: white;
$body-color: #f4f1ec;
$general-font: 'Source Sans Pro', sans-serif;
$general-font-color:  #545149;
$toggle-color: #ff4040;
$tweet-label-color: #474656;
$tweet-text-color: black;
$border-style: 3px solid black;