$name-color: white;
$header-color: #d68000;

.main-header {
  height: 400px;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $header-color;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png")
}

.name {
  font-size: 40px;
  color: $name-color
}

@media only screen and (min-width: 1024px) {
  .main-header {
    width: 25%;
    height: 450px;
    float: left;
    margin: 4em 10em 4em 4em
  }
} 