@import 'color-font';

#tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

article {
  width: 100%;
  border: $border-style;
  margin-bottom: 20px;
  margin-top: 25px;

  header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0em 0.3em;

    p {
      margin-right:auto;
      padding-left: 20px;
      font-size: 30px;
    }
    
    img {
      padding-left:0.5em;
    }

    
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0.5em;
    padding-bottom: 0.5em;
  }

  &:hover {
    box-shadow: 10px 10px;
    color: $shadow-color;
  }

  &:hover .handle {
    display:block;
  }
  
  &:hover .social-icons {
    display: block;
  }
  
}

.tweet {
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 1.5em;
  padding-top: 0em
}

.handle {
  display:none;
  color:$text-color;
  font-size: 30px;
  padding: 1em;
}

.social-icons {
  display:none;
  color: $icon-color
}

@media only screen and (min-width: 1024px) {
  #tweet-container {
    margin-right: 10vw;
  }
}


@media only screen and (min-width: 1024px) {
  .topMargin {
    margin-top: 3.5em;
  }
} 