@import 'color-font';

nav {
  height: 120px;
  width: 100%;
  background-color: $header-color;
  background-image: url("https://www.transparenttextures.com/patterns/cardboard.png");
  color: $text-color;
  display:flex;
  position:fixed;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}

#logo {
  font-family: $logo-font;
  font-size: 40px;
  align-self:flex-end;
}

.nav-container {
  flex-direction:column;
  justify-content: center;
  align-content:center;
  font-size: 30px;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s;
}

.btn-tweet {
  background-color: transparent;
  color: $text-color;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
}
.hide-nav {
  visibility: hidden;
  opacity: 0;
}

.arrow {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}


@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.fa-angle-double-down {
  color: red
}

.spacer {
    width: 100%;
    height: 120px;
}

@media only screen and (min-width: 1024px) {
  nav {
    background-color: $desktop-background-color;
    background-image: none;
  }
} 