@import 'color-font';

@mixin tweet-button {
  background-color: $desktop-background-color;
  font-family: $logo-font;
  color: $text-color;
  padding: 5px 5px;
}

#new-tweet {
  display: none;
  width: 100%;
  padding-top: 1em;
}

.tweet-button {
@include tweet-button
}

.tweet-label {
  font-size: 36px;
  color: $tweet-label-color;
  padding-bottom: 0.5em;
}

form {
  display:flex;
  flex-direction: column;
}

#tweet-text {
  background-color: transparent;
  color: $tweet-text-color;
  border: transparent;
  border-bottom: $border-style;
  resize:none;
  font-size: 25px;
  outline: none;
  width: 100%;
  height: 65px;
  padding-top:10px;
}

.counter {
  font-family: $logo-font;
}

.counter-red {
  color: red;
}

.submission {
  display:flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.error {
display:none;
border: $border-style;
margin-top: 0.5em;
background-color: $error-color;
color: $text-color;
font-weight: bold;
height: 50px;
text-align: center;
padding: 10px 10px;
}


@media only screen and (min-width: 1024px) {
  #new-tweet {
    margin-top: 4em;
    padding-top: 0em;
    margin-right: 10vw;
  }
} 