nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display:flex;
  position:fixed;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}
#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  align-self:flex-end;
}

.msg-container {
  flex-direction:column;
  justify-content: center;
  align-content:center;
  font-size: 30px;
}

.arrow {
  display: flex;
  justify-content: center;
}
.fa-angle-double-down {
  color: red
}

.spacer {
    width: 100%;
    height: 120px;
}