nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display:flex;
  position:fixed;
  justify-content: space-between;
  padding: 1.5em 1.5em;
}
#logo {
  font-family: 'Bungee', sans-serif;
  font-size: 40px;
  align-self:flex-end;
}

.nav-container {
  flex-direction:column;
  justify-content: center;
  align-content:center;
  font-size: 30px;
}

.btn-tweet {
  background-color: transparent;
  color:white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;

}

.arrow {
  display: flex;
  justify-content: center;
  padding-top: 2px;
  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}

.fa-angle-double-down {
  color: red
}

.spacer {
    width: 100%;
    height: 120px;
}