#new-tweet {
  display: none;
  width: 100%;
  margin-top:1.5em;
}

.tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color:#FFFFFF;
  padding: 5px 5px;
}

.tweet-label {
  font-size: 36px;
  color: #474656;
  padding-bottom: 0.5em;
}

form {
  display:flex;
  flex-direction: column;
}

#tweet-text {
  background-color: transparent;
  color: black;
  border: transparent;
  border-bottom: 3px solid black;
  resize:none;
  font-size: 25px;
  outline: none;
  width: 100%;
  height: 65px;
  padding-top:10px;
}

.counter {
  font-family: 'Bungee', sans-serif;
}

.counter-red {
  color: red;
}

.submission {
  display:flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.error {
display:none;
border-color: black;
border: 3px solid black;
margin-top: 0.5em;
background-color: #db6d65;
color: white;
font-weight: bold;
height: 50px;
text-align: center;
padding: 10px 10px;
}

