.tweet-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
article {
  display:flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid black;
  margin-bottom: 20px;
  margin-top: 25px;
}
article > header {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  margin: 0em 0.3em;
}

article > header > p {
  margin-right:auto;
  padding-left: 20px;
  font-size: 30px;
}

.tweet {
  display: flex;
  justify-content: flex-start;
  padding: 1.5em 1.5em;
  border-bottom: 3px solid black;
}

article > footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5em 0.5em;
  padding-bottom: 0.5em;
}

.handle {
  display:none;
  color: grey;
  font-size: 30px;
  padding: 1em;
}

article:hover {
  box-shadow: 10px 10px;
}

article:hover .handle {
  display:block;
}

.social-icons {
  color:darkblue;
}